#centrooo{
	background-color: rgb(176,224,230);
	min-height: 400px;
}

#map {
        height: 400px;
        width: 100%;
       }

/*footer{
	text-align: center;
}*/

/*h1{
	color: white;
	text-align: center;
}

h2{
	color: rgb(255,0,128);
	text-align: center;
}

body{
	background-color: gray;
}*/

/* Datos de estilo para el bloque global de la cabecera. */
/*header{
	background-color: yellow;
	color: red
	border-radius: 15px;
}*/
/*
/* Datos de estilo para cada uno de los elementos internos al <header>.
.cabecera{
	float: left; /* Para que se ajuste a la izquierda del elemento anterior
					(estar alineados en el <header>).
}

header #logo{
	width: 20%; /* Se ajusta el tamaño del % que ocupa el <div> del logo.
}

#logo img{
	width: 100%; /* Se ajusta  el tamaño de la imagen al total del <div>.
	max-width: 150px;
}

header #titulo{
	width: 60%;
}

header #formulario{
	width: 20%;
	text-align: center;
	color: white;
}

.main-container{
	width: 80%;
	min-height: 350px;
	margin-top: 2px;
	margin-left: 10%;
	overflow: auto;
	background-color: rgb(200,200,200);
	border-radius: 15px;
}

.left-column{
	width: 20%;
	margin: 2px;
	float: left;
}

.right-column{
	width: 78%;
	margin: 2px;
	float: left;
	text-align: center;
	color: black;
	font-size: 20px;
}

ul{
	list-style-type: none;
	width: 100%;
	margin: 0;
    padding: 0;
}

li{
	display: block;
	font-size: 30px;
	text-align: center;
}

a{
	text-decoration: none;
}

li:hover{
	background-color: gray;
}

footer{
	width: 100%;
	min-height: 100px;
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 15px;
	font-size: 20px;
	margin-top: 2px;
}

#logo-face{
	width: 15%;
}*/
