<!DOCTYPE html>
<html>

<head>

	<title>Título de la página</title>
	<link rel="stylesheet" href="static/mystyle.css">
	<meta charset="UTF-8">
	<meta name="author" content="Manuel Ruiz">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<header>

		<div class="cabecera" id="logo">
			<img src="static/images/ugr.png" alt="Logo">
		</div>

		<div class="cabecera" id="titulo">
			<h1>Título</h1>
			<h2>Subtítulo</h2>
		</div>

		<div class="cabecera" id="formulario">
			<form method="post">
				Nombre: 
				<input type="text" name="nombre"><br>
				<input type="submit" value="Login">
			</form>
		</div>

	</header>

	<div class="main-container">

		<div class="left-column">

			<ul id="menu">
				<li>Inicio</li>
				<li>Historia</li>
				<li>Contacto</li>
			</ul> 

		</div>

		<div class="right-column">

			<p>Lorem ipsum...</p>
			<p>Lorem ipsum...</p>
			<p>Lorem ipsum...</p>
			<p>Lorem ipsum...</p>
			<p>Lorem ipsum...</p>

		</div>

	</div>

	<footer>

		<p>Manuel Ruiz Maldonado (Licencia ¿?)</p>

	</footer>

</body>

</html>