<!DOCTYPE html>
<html>

<head>

	<title>{% block name %}PDV{% endblock %}</title>
	<link rel="stylesheet" href="static/mystyle.css">
	<meta charset="UTF-8">
	<meta name="author" content="Manuel Ruiz">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<header>

		<div class="cabecera" id="logo">
			<img src="static/images/logo.png" alt="Logo">
		</div>

		<div class="cabecera" id="titulo">
			<h1>Peña Deportiva Villasol</h1>
			<h2>Fallando goles cantados desde 2013</h2>
		</div>

		<div class="cabecera" id="formulario">
			{% if not logueado %}
				<form action="/" method="post">
					Nombre: <br>
					<input type="text" name="nombre"><br>
					Contraseña: <br>
					<input type="text" name="contraseña"><br>
					<input type="submit" value="Iniciar Sesión">
					<button><a href="/registrarse">Registrarse</a></button>
				</form>
			{% else %}
				<p>Bienvenido {{session['username']}}</p>
				<button><a href="/logout">Log out</a></button>
			{% endif %}
		</div>

	</header>

	<div class="main-container">

		<div class="left-column">

			<ul id="menu">
				<a href="/"><li>Inicio</li></a>
				<a href="/clasificacion"><li>Clasificación</li></a>
				<a href="/contacto"><li>Contacto</li></a>
				{% if logueado %}
				<a href="/editar"><li>Editar</li></a>
				{% endif %}
			</ul>

		</div>

		<div class="right-column">

			{% block content %}
			<p>Esta es la página de inicio.</p>
			{% endblock %}

		</div>

	</div>

	<footer>

		<p>&copy Manuel Ruiz Maldonado (Licencia ¿?)</p>

	</footer>

</body>

</html>